

<table summary="Special form fields">
  <tr>
    <th><%= f.label(:day) %></th>
    <td><%= f.text_field(:day) %></td>
  </tr>
  <tr>
    <th><%= f.label(:special) %></th>
    <td><%= f.text_field(:special) %></td>
  </tr>
  <tr>
    <th><%= f.label(:price) %></th>
    <td><%= f.text_field(:price) %></td>
  </tr>
</table>
